# development
bpython
black
flake8
isort

# dependencies

# base
requests
numpy
tqdm
Jinja2
omegaconf

# core
safetensors
tokenizers
transformers

# required
diffusers
peft
accelerate
protobuf
sentencepiece
invisible-watermark

# extra
huggingface-hub
